
@model SchoolProject.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div>
    <a class="navlink" href="/Teacher/List">Back To Teachers</a>
</div>
<div id="containershow">
    <div>
      
        <h2> Are you Sure You want to Delete this Teacher </h2>


        <span class="name">@Model.TeacherFname @Model.TeacherLname @Model.TeacherId @Model.TeacherNumber </span>
    </div>
    <form method="post" action="/Teacher/Delete/@Model.TeacherId">
        

        <input type="submit" value="Delete"/>



    </form>



</div>