@model SchoolProject.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div>
    <a class="navlink" href="/Teacher/List">Back To Teachers</a> <br />
    <a class="navlink" href="/Teacher/Edit/@Model.TeacherId">Edit</a>
</div>
<div id="containershow">
    <div>
       <a href="/Teacher/Deleteconfirm/@Model.TeacherId">Delete this Teacher"</a>
        <span class="name">@Model.TeacherFname @Model.TeacherLname @Model.TeacherId @Model.TeacherNumber </span>
    </div>
    <div>



    </div>
    
   

</div>