@model SchoolProject.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div>
    <a class="navlink" href="/Teacher/List">Back To Teachers</a>
</div>
<div id="containershow">
    <div>
       
        <span class="name">@Model.TeacherFname @Model.TeacherLname @Model.TeacherId @Model.TeacherNumber </span>
    </div>
    
    
   

</div>